
body {
  background-color: #111b21;
  color: #e9edef;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
}
.header {
  background-color: #202c33;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #25d366;
}
.container {
  padding: 20px;
}
input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
button {
  background-color: #25d366;
  color: #111b21;
  font-weight: bold;
}
.error {
  color: red;
}
